<ion-view view-title="Student Organization">
  <ion-content>
              <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Course</span>
            <input type="text" placeholder="Course">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Year Level</span>
            <input type="text" placeholder="Year">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Birthdate</span>
            <input type="text" placeholder="Birthdate">
        </label>

        <button class="button button-block button-royal">Add Student</button>
    </div>
  </ion-content>
</ion-view>


    <!--div ng-controller="SetCriteriaCtrl">
    <form class="well">
        <label>Name</label>
        <input type="text" name="name" ng-model="criteria.apa" />
        <label>Email</label>
        <input type="text" name="email" ng-model="criteria.quizzes" />
        <label>Phone</label>
        <input type="text" name="phone" ng-model="criteria.projects" />
        <label>Birthday</label>
        <input type="text" name="phone" ng-model="criteria.exams" />
        <br/>
        <input type="hidden" ng-model="criteria.id" />
        <input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary" />
    </form>

</div-->


