<ion-view view-title="AGP Travel & Tours">
  <ion-content>
        <div class="list">
            <a class="item item-avatar" href="#/app/student-org-newsfeed">
              <!--img src="venkman.jpg"-->
              <h2>Home</h2>
            </a>
        </div>
        <div class="list">
            <a class="item item-avatar" href="#/app/student-org-newsfeed">
              <!--img src="venkman.jpg"-->
              <h2>Destinations</h2>
            </a>
        </div>
        <div class="list">
            <a class="item item-avatar" href="#/app/student-org-newsfeed">
              <!--img src="venkman.jpg"-->
              <h2>Hotels</h2>
            </a>
        </div>
        <div class="list">
            <a class="item item-avatar" href="#/app/student-org-newsfeed">
              <!--img src="venkman.jpg"-->
              <h2>Packages</h2>
            </a>
        </div>
        <div class="list">
            <a class="item item-avatar" href="#/app/student-org-newsfeed">
              <!--img src="venkman.jpg"-->
              <h2>About</h2>
            </a>
        </div>
  </ion-content>
</ion-view>
