<ion-view class="pane" view-title="Book Bohol Travel Now">
  <ion-content>

	<div class="card">
		<div class="item item-divider item-assertive">
			<h1><b>Fill this form</b></h1>
		</div>
	</div>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Middle Name</span>
    <input type="text" placeholder="Middle Name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  <label>
  	<button class="button" href="#/app/bohol-boholSuccess">Book Now</Button>
  </label>
</div>

  </ion-content>
</ion-view>
