<ion-view class="pane" view-title="Book Camiguin Travel Now">
  <ion-content>

	<div class="card">
		<div class="item item-divider item-assertive">
			<h1><b>Fill this form</b></h1>
		</div>
	</div>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name" ng-model="register.firstname">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Middle Name</span>
    <input type="text" placeholder="Middle Name" ng-model="register.middlename">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name" ng-model="register.lastname">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email" ng-model="register.email">
  </label>
  <label>
  	<a class="button" href="#/app/book-camiguinSuccess">Book Now</a>
  </label>
</div>

  </ion-content>
</ion-view>
