<!DOCTYPE html> 
<html>
<body>
  <ion-view class="pane" view-title="Select Destination">
  <ion-content>

      <img src="../img/final.jpg"/>
      <div class="list">

    <div class="item item-thumbnail-left">
      <img src="../img/surigao.jpg">
      <h2><b>Surigao Travel</b></h2>
      <p>2,900php SRP</p>
<a class="button button-small button-assertive" href="#/app/book-surigao">Book Now</a>
<a class="button button-small button-assertive" href="#/app/destination-surigao">View Details</a>
    </div>


</div>

      <div class="list">

    <div class="item item-thumbnail-left">
      <img src="../img/dahilayan.jpg">
      <h2><b>Dahilayan Travel</b></h2>
      <p>4,000php SRP</p>
<a class="button button-small button-assertive" href="#/app/book-dahilayan">Book Now</a>
<a class="button button-small button-assertive" href="#/app/destination-dahilayan">View Details</a>
    </div>


</div>


      <div class="list">

    <div class="item item-thumbnail-left">
      <img src="../img/camiguin.jpg">
      <h2><b>Camiguin Travel</b></h2>
      <p>4,500php SRP</p>
<a class="button button-small button-assertive" href="#/app/book-camiguin">Book Now</a>
<a class="button button-small button-assertive" href="#/app/destination-camiguin">View Details</a>
    </div>


</div>

      <div class="list">

    <div class="item item-thumbnail-left">
      <img src="../img/siargao.jpg">
      <h2><b>Siargao Travel</b></h2>
      <p>2,000php SRP</p>
<a class="button button-small button-assertive" href="#/app/book-siargao">Book Now</a>
<a class="button button-small button-assertive" href="#/app/destination-siargao">View Details</a>
    </div>


</div>


      <div class="list">

    <div class="item item-thumbnail-left">
      <img src="../img/bohol.jpg">
      <h2><b>Bohol Travel</b></h2>
      <p>2,000php SRP</p>
<a class="button button-small button-assertive" href="#/app/book-bohol">Book Now</a>
<a class="button button-small button-assertive" href="#/app/destination-bohol">View Details</a>
    </div>


</div>



<br/><br/><br/><br/><br/><br/><br/><br/>
<div class="tabs tabs-icon-top">
  <a class="tab-item" href="#/app/destination-select">
    <i class="icon ion-home"></i>
    Destination
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
    Favorites
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
</div>


    </ion-content>
  </ion-view>
</body>
</html>
