<ion-view class="pane" view-title="Home">
  <ion-content>
<div class="list card">

<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">Go</button>
</div>

  <div class="item item-body">
    <img class="full-image" src="../img/final.jpg">
    <p>
      is a travel agency in Philippines. The AGP travel & tours, accommodate travelers who are looking for the best vacation where they can explore the beauty of the Philippines with affordable tour packages that will suit their needs. It also help travelers make their domestic holidays a pleasant and memorable experience.
    </p>
  </div>


</div>
<br/><br/><br/><br/><br/><br/><br/><br/>
<div class="tabs tabs-icon-top">
  <a class="tab-item" href="#/app/destination-select">
    <i class="icon ion-home"></i>
    Destination
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
    Favorites
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
</div>
  </ion-content>
</ion-view>
